.Weather {
    border: 1px solid grey;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    border-radius: 4px;

}

.Weather h1 {
    color: blueviolet;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 100;
    margin: 20px 0 0 0;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather canvas {
    display: inline-block;
    margin-right: 10px;
}

.Weather .temp {
    font-weight: bold;
    color: black;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    font-size: 64px;
}

.Weather .units {
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    line-height: 1;
}